<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Taller 3</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="{{ url_for('static', filename='general/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='general/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link id="base-style" href="{{ url_for('static', filename='general/css/style.css') }}" rel="stylesheet">
	<link id="base-style-responsive" href="{{ url_for('static', filename='general/css/style-responsive.css') }}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="{{ url_for('static', filename='general/css/ie.css') }}" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="{{ url_for('static', filename='general/css/ie9.css') }}" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='general/img/favicon.ico') }}">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>Taller 3</span></a>
								
				
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="grupoinfo"><i class="icon-home"></i><span class="hidden-tablet"> Grupo 08</span></a></li>	
						<li><a href="busqueda"><i class="icon-search"></i><span class="hidden-tablet"> Búsqueda</span></a></li>
                                <li><a href="modelo"><i class="icon-screenshot"></i><span class="hidden-tablet"> Modelo</span></a></li>
						<li><a href="indice"><i class="icon-tasks"></i><span class="hidden-tablet"> Indice personaje</span></a></li>
                                <!--
                                
						<li><a href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
						<li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
							<ul>
								<li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
								<li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
								<li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
							</ul>	
						</li>
						<li><a href="form.html"><i class="icon-edit"></i><span class="hidden-tablet"> Forms</span></a></li>
						<li><a href="chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
						<li><a href="typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Typography</span></a></li>
						<li><a href="gallery.html"><i class="icon-picture"></i><span class="hidden-tablet"> Gallery</span></a></li>
						<li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
						<li><a href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
						<li><a href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
						<li><a href="icon.html"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
						<li><a href="login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li>
                                -->
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			{% block content %}
                {% endblock %}
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<ul class="list-inline item-details">
				<li><a href="http://themifycloud.com">Admin templates</a></li>
				<li><a href="http://themescloud.org">Bootstrap themes</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->

		<script src="{{ url_for('static', filename='general/js/jquery-1.9.1.min.js') }}"></script>
        	<script src="{{ url_for('static', filename='general/js/jquery-migrate-1.0.0.min.js') }}"></script>
		<script src="{{ url_for('static', filename='general/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
		<script src="{{ url_for('static', filename='general/js/jquery.ui.touch-punch.js') }}"></script>
		<script src="{{ url_for('static', filename='general/js/modernizr.js') }}"></script>
		<script src="{{ url_for('static', filename='general/js/bootstrap.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.cookie.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/fullcalendar.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.dataTables.min.js') }}"></script>

		<script src="{{ url_for('static', filename='general/js/excanvas.js') }}"></script>
        	<script src="{{ url_for('static', filename='general/js/jquery.flot.js') }}"></script>
        	<script src="{{ url_for('static', filename='general/js/jquery.flot.pie.js') }}"></script>
        	<script src="{{ url_for('static', filename='general/js/jquery.flot.stack.js') }}"></script>
        	<script src="{{ url_for('static', filename='general/js/jquery.flot.resize.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.chosen.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.uniform.min.js') }}"></script>
		
		<script src="{{ url_for('static', filename='general/js/jquery.cleditor.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.noty.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.elfinder.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.raty.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.iphone.toggle.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.uploadify-3.1.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.gritter.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.imagesloaded.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.masonry.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.knob.modified.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/jquery.sparkline.min.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/counter.js') }}"></script>
	
		<script src="{{ url_for('static', filename='general/js/retina.js') }}"></script>

		<script src="{{ url_for('static', filename='general/js/custom.js') }}"></script>

           <script src="{{ url_for('static', filename='general/js/modelo.js') }}"></script>

           <script src="{{ url_for('static', filename='general/js/busqueda.js') }}"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
