{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
    <h2 class="text-center" style="color:darkblue">Repositorios NoSQL y análisis básico de contenido</h2>
    <p class="text-center">Omar A. Herazo, Sergio A. Melo Ramos, German A. Segura Tinoco</p>
    <p class="text-center">Taller 3, MINE Análisis de información sobre Big Data</p>
    <p class="text-center">Universidad de los Andes, Bogotá, Colombia</p>
    <p class="text-center">{oa.herazo, sa.melo, ga.segura}@uniandes.edu.co</p>
    <p class="text-center">Fecha de presentación: Mayo 02 de 2017</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}