{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
<!-- start: Content -->
<!-- start: Content -->
    <h2>Perfilamiento de los datos de entrenamiento</h2>
			<div id="content" class="span12">
			
			<div class="row-fluid sortable">
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Polaridad Twitter 1000</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<div id="polaridadTwitter1000" style="height:300px"></div>
					</div>
				</div>
    				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Sentimientos Twitter 1000</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<div id="sentimientosTwitter1000" style="height:300px"></div>
					</div>
				</div>
			</div><!--/row-->
		
              <div class="row-fluid sortable">
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Polaridad Facebook 1200</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<div id="polaridadFacebook1200" style="height:300px"></div>
					</div>
				</div>
    				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Sentimientos Facebook 1200</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
							<div id="sentimientosFacebook1200" style="height:300px"></div>
					</div>
				</div>
			</div><!--/row-->
		
			
		

	</div><!--/.fluid-container-->


<h2>Resultados</h2>
<div id="content" class="span12">
<div class="row-fluid">
				
				<div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Comparación precisión modelos para polaridad</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="comparacionPolaridad"  class="center" style="height:300px;" ></div>
					</div>
				</div>

                     <div class="box">
					<div class="box-header">
						<h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Comparación precisión modelos para sentimientos</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<div id="comparacionSentimientos"  class="center" style="height:300px;" ></div>
					</div>
				</div>
				
				

			</div><!--/row-->
			
		
		

	</div><!--/.fluid-container-->
</div>

<h2> Comparación</h2>

<div id="content" class="span10" style="min-height: 662px;">

<div class="row-fluid sortable ui-sortable">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Combined All Table</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-bordered table-striped table-condensed">
							  <thead>
								  <tr>
									  <th>Experimento</th>
									  <th>Modelo</th>
									  <th>Archivo</th>
									  <th>Análisis</th>                                          
                                                  <th>Precisión</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
								<tr>
									<td>Experimento 1</td>
									<td class="center">Modelo 1</td>
									<td class="center">Facebook1200.csv</td>
                                                <td class="center">Polaridad</td>
                                                <td class="center">37.5%</td>
								</tr>
                                           <tr>
									<td>Experimento 1</td>
									<td class="center">Modelo 2</td>
									<td class="center">Facebook1200.csv</td>
                                                <td class="center">Polaridad</td>
                                                <td class="center">96.8%</td>
								</tr>
                                          <tr>
									<td>Experimento 2</td>
									<td class="center">Modelo 3</td>
									<td class="center">Facebook1200.csv</td>
                                                <td class="center">Sentimiento</td>
                                                <td class="center">12.9%</td>
								</tr>
                                           <tr>
									<td>Experimento 2</td>
									<td class="center">Modelo 4</td>
									<td class="center">Facebook1200.csv</td>
                                                <td class="center">Sentimiento</td>
                                                <td class="center">93.7%</td>
								</tr>
                                           <tr>
									<td>Experimento 3</td>
									<td class="center">Modelo 1</td>
									<td class="center">Tweets1000.csv</td>
                                                <td class="center">Polaridad</td>
                                                <td class="center">99.6%</td>
								</tr>
                                           <tr>
									<td>Experimento 3</td>
									<td class="center">Modelo 2</td>
									<td class="center">Tweets1000.csv</td>
                                                <td class="center">Polaridad</td>
                                                <td class="center">38.5%</td>
								</tr>
                                           <tr>
									<td>Experimento 4</td>
									<td class="center">Modelo 3</td>
									<td class="center">Tweets1000.csv</td>
                                                <td class="center">Sentimiento</td>
                                                <td class="center">99.2%</td>
								</tr>
                                           <tr>
									<td>Experimento 4</td>
									<td class="center">Modelo 4</td>
									<td class="center">Tweets1000.csv</td>
                                                <td class="center">Sentimiento</td>
                                                <td class="center">10.9%</td>
								</tr>
							  </tbody>
						 </table>  
						     
					</div>
				</div><!--/span-->
			</div>

</div>

<div id="content" class="span10" style="min-height: 662px;">
<h2> Fuente para el análisis de sentimientos<h2>

<p>
Spanish dataset collected from Facebook and labelled with emotions, irony and author's gender.
The original source of the dataset is: http://ow.ly/uQWEs (tha5daeW)
Please, cite the following:
Rangel, F., Hernández, I., Rosso, P., Reyes, A. Emotions and Irony per Gender in Facebook. 
In Proceedings of the Fifth International Workshop on Emotion, Social Signals, Sentiment and Linked Open Data (ES3LOD 2014) 
A workshop of the LREC 2014. Reykjavik, Iceland. May 26-27, 2014
</p>
</div>

	
			<!-- end: Content -->	
</div>
{% endblock %}